<div style="position: absolute; top: 7px; left: 300px;" class="flex">
    <p-autoComplete [(ngModel)]="contrato" [style]="{'width':'450px'}" [suggestions]="contracts" 
        (completeMethod)="loadData($event)" field="folio"
        placeholder="Digite el folio o contrato"
        (onSelect)="getContractData()">
        <ng-template let-contrat pTemplate="item">
            <div class="grid">
                <div class="col-12" style="padding: 0px;">
                    <strong>{{contrat.folio}}</strong>
                </div>
                <div class="col-12 app-filter" style="padding: 0px;">
                    {{contrat.proyecto}} - {{contrat.especialidad}} - {{contrat.proveedor}}
                </div>
            </div>
        </ng-template>
    </p-autoComplete>
    <div class="pl-2"></div>
    <p-button label="Descargar PDF" styleClass="p-button-warning" (click)="download()" [disabled]="!contrato.folio"
                icon="pi pi-download"></p-button>
</div>
<div class="mt-2">
    <div class="grid">
        <div class="col-6" *ngIf="contrato.id">
            <div class="grid app-contract-info">
                <div class="col-12">
                    <label class="app-label">Folio: </label>
                    <span class="pr-2"></span>
                    <span class="app-description">{{contrato.folio}}</span>
    
                    <span class="pr-4"></span>
    
                    <label class="app-label">Proyecto: </label>
                    <span class="pr-2"></span>
                    <span class="app-description">{{contrato.proyecto}}</span>
                </div>
                <div class="col-12">
                    <label class="app-label">Especialidad: </label>
                    <span class="pr-2"></span>
                    <span class="app-description">{{contrato.especialidad}}</span>
    
                    <span class="pr-4"></span>
    
                    <label class="app-label">Proveedor: </label>
                    <span class="pr-2"></span>
                    <span class="app-description">{{contrato.proveedor}}</span>
                </div>
            </div>
        </div>
        <div class="col-3 app-label-status" *ngIf="contrato.id">
            <p-avatar *ngIf="status == 'ERROR'" label="Error" 
                      styleClass="mr-2" size="large" shape="circle"
                      [style]="{ 'background-color': 'rgb(252, 97, 97)', color: '#ffffff',
                      'box-shadow': '0px 6px 20px rgba(252, 97, 97, 0.3)' }"></p-avatar>
            <p-avatar *ngIf="status == 'WARNING'" 
                        label="Pendt" styleClass="mr-2" size="large" shape="circle"
                        [style]="{ 'background-color': 'rgb(255 233 5)', color: 'rgb(27 26 26)',
                        'box-shadow': '0px 6px 20px rgb(255 233 5)' }"></p-avatar>
            <p-avatar *ngIf="status == 'SUCCESS'" 
                    label="OK" styleClass="mr-2" size="large" shape="circle"
                    [style]="{ 'background-color': 'rgb(11, 209, 138)', color: '#ffffff', 
                    'box-shadow': '0px 6px 20px rgba(11, 209, 138, 0.3)' }"></p-avatar>
            <p-avatar *ngIf="status == 'BLUE'" 
                    label="SM" styleClass="mr-2" size="large" shape="circle"
                    [style]="{ 'background-color': 'rgb(11 173 209)', color: '#ffffff', 
                    'box-shadow': '0px 6px 20px rgba(11, 173, 209, 0.3)' }"></p-avatar>
            {{messageStatus}}
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-4">
        <div class="app-info">
            <p-table [value]="abonos"
                sortMode="single"
                responsiveLayout="scroll"
                [scrollable]="true"
                scrollHeight="72vh"
                styleClass="p-datatable-sm p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="6" style="border-right: 1px solid; text-align: center;">ESTIMACIONES</th>
                    </tr>
                    <tr>
                        <th style="min-width:90px"></th>
                        <th pSortableColumn="numeroAbono" style="min-width:70px">
                            No.
                            <p-sortIcon field="numeroAbono"></p-sortIcon>
                        </th>
                        <th  pSortableColumn="fechaOperacion">
                            Fecha
                            <p-sortIcon field="fechaOperacion"></p-sortIcon>
                        </th>
                        <th>Importe</th>
                        <th>Abonado</th>
                        <th>Pendiente</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-abono let-i="rowIndex">
                    <tr>
                        <td>
                            <p-button icon="pi pi-pencil" 
                                styleClass="p-button-rounded p-button-warning p-button-text" 
                                pTooltip="Editar"
                                (click)="edit(abono.id)"></p-button>

                            <p-button icon="pi pi-trash" 
                                styleClass="p-button-rounded p-button-danger p-button-text" 
                                pTooltip="eliminar"
                                (click)="openDelete(abono, i < 9 ? '0' + (i+ 1) : i + 1)"></p-button>
                        </td>
                        <td style="text-align: end;">
                            {{i < 9 ? '0' + (i+ 1) : i + 1}}
                        </td>
                        <td>
                            {{abono.fechaOperacion | dateFormat: 'DD/MM/yyyy' }}
                        </td>
                        <td style="text-align: end;">
                            <a *ngIf="abono.hipervinculo" href="{{abono.hipervinculo}}" target="_blank" class="app-link">
                                {{abono.importe | currency}}
                            </a>
                            <span *ngIf="!abono.hipervinculo">
                                {{abono.importe | currency}}
                            </span>
                        </td>
                        <td style="text-align: end;">
                            {{abono.importeAbono | currency}}
                        </td>
                        <td style="text-align: end;">
                            <app-texto text="{{getLabelAbono(abono.importe, abono.importeAbono)}}" 
                                [type]="abono.importe > abono.importeAbono ? 'danger' : 'success'" [bold]="true"></app-texto>
                        </td>
                    </tr>
                </ng-template>    
            </p-table>
        </div>
    </div>
    <div class="col-5">
        <div class="app-info">
            <p-table [value]="pagos"
                sortMode="single"
                responsiveLayout="scroll"
                [scrollable]="true"
                scrollHeight="72vh"
                styleClass="p-datatable-sm p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="6" style="border-right: 1px solid; text-align: center;">PAGOS</th>
                    </tr>
                    <tr>
                        <th style="min-width:90px"></th>
                        <th pSortableColumn="numeroAbono" style="min-width:70px">
                            No.
                            <p-sortIcon field="numeroAbono"></p-sortIcon>
                        </th>
                        <th  pSortableColumn="fechaOperacion">
                            Fecha
                            <p-sortIcon field="fechaOperacion"></p-sortIcon>
                        </th>
                        <th>Importe</th>
                        <th>Concepto</th>
                        <th>Observaciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-abono let-i="rowIndex">
                    <tr>
                        <td>
                            <p-button icon="pi pi-pencil" 
                                styleClass="p-button-rounded p-button-warning p-button-text" 
                                pTooltip="Editar"
                                (click)="edit(abono.id)"></p-button>

                            <p-button icon="pi pi-trash" 
                                styleClass="p-button-rounded p-button-danger p-button-text" 
                                pTooltip="eliminar"
                                (click)="openDelete(abono, i < 9 ? '0' + (i+ 1) : i + 1)"></p-button>
                        </td>
                        <td style="text-align: end;">
                            {{i < 9 ? '0' + (i+ 1) : i + 1}}
                        </td>
                        <td>
                            {{abono.fechaOperacion | dateFormat: 'DD/MM/yyyy' }}
                        </td>
                        <td style="text-align: end;">
                            <a *ngIf="abono.hipervinculo" href="{{abono.hipervinculo}}" target="_blank" class="app-link">
                                {{abono.importe | currency}}
                            </a>
                            <span *ngIf="!abono.hipervinculo">
                                {{abono.importe | currency}}
                            </span>
                        </td>
                        <td class="fitwidth">
                            <span>{{abono.concepto}}</span>
                            <span *ngIf="abono.concepto === 'ABONO'"> A ESTIMACIÓN</span>
                            <span style="font-weight: bold;">{{' ' + abono.numeroAbono}}</span>
                        </td>
                        <td class="fitwidth">
                            <span *ngIf="abono.observaciones" pTooltip="{{abono.observaciones}}" tooltipPosition="left">{{abono.observaciones | truncate:20}}</span>
                        </td>
                    </tr>
                </ng-template>  
            </p-table>
        </div>
    </div>
    <div class="col-3">
        <div class="app-info app-totals" *ngIf="contrato.id">
            <div class="grid">
                <div class="col-6">
                    <label class="app-label">Monto contratado:</label>
                </div>
                <div class="col-6" style="text-align: end;">
                    <a *ngIf="contrato.hipervinculo" href="{{contrato.hipervinculo}}" target="_blank" class="app-link">
                        {{getValueCero(contrato.importeContratado) | currency}}
                    </a>
                    <span *ngIf="!contrato.hipervinculo" class="value">
                        {{getValueCero(contrato.importeContratado) | currency}}
                    </span>
                </div>
                <div class="col-12" style="padding: 0px !important;">
                    <p-divider></p-divider>
                </div>
                <div class="col-6">
                    <label class="app-label">Anticipo contratado: </label>
                </div>
                <div class="col-6" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.anticipoContratado) | currency}}</span>
                </div>
                <div class="col-6">
                    <label class="app-label">Pago a anticipo: </label>                    
                </div>
                <div class="col-6" style="text-align: end;">
                    <span class="value">{{valorAnticipos | currency}}</span>
                </div>
                <div class="col-6">
                    <label class="app-label">Pendiente a anticipo: </label>                    
                </div>
                <div class="col-6" style="text-align: end;">
                    <span class="value">{{valorPendAnticipo | currency}}</span>
                </div>
                <div class="col-12" style="padding: 0px !important;">
                    <p-divider></p-divider>
                </div>               
                <div class="col-7">
                    <label class="app-label">Estimaciones programadas: </label>
                </div>
                <div class="col-5" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.importeBruto) | currency}}</span>
                </div>
                <div class="col-6">
                    <label class="app-label">Retención vicios ocultos: </label>
                </div>
                <div class="col-6" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.retencionViciosOcultos) | currency}}</span>
                </div>
                <div class="col-6">
                    <label class="app-label">Amortización anticipo: </label>
                </div>
                <div class="col-6" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.amortizacionAnticipo) | currency}}</span>
                </div>
                <div class="col-6">
                    <label class="app-label">IVA: </label>
                </div>
                <div class="col-6" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.iva) | currency}}</span>
                </div>
                <div class="col-6">
                    <label class="app-label">Retención de IVA: </label>
                </div>
                <div class="col-6" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.retencionIva) | currency}}</span>
                </div>
                <div class="col-6">
                    <label class="app-label">ISR: </label>
                </div>
                <div class="col-6" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.isr) | currency}}</span>
                </div>
                <div class="col-6">
                    <label class="app-label">Deducciones: </label>
                </div>
                <div class="col-6" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.deducciones) | currency}}</span>
                </div>
                <div class="col-6">
                    <label class="app-label">Total facturado: </label>
                </div>
                <div class="col-6" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.estimacionesProgramadas) | currency}}</span>
                </div>
                <div class="col-6">
                    <label class="app-label">Pagos a estimaciones: </label>                    
                </div>
                <div class="col-6" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.estimacionesPagadas) | currency}}</span>
                </div>
                <div class="col-7">
                    <label class="app-label">Pendiente a estimaciones: </label>
                </div>
                <div class="col-5" style="text-align: end;">
                    <span class="value">{{ (contrato.estimacionesProgramadas - contrato.estimacionesPagadas) | currency}}</span>
                </div>               
                <div class="col-12" style="padding: 0px !important;">
                    <p-divider></p-divider>
                </div>
                <div class="col-7">
                    <label class="app-label">Pagos realizados a contrato: </label>                    
                </div>
                <div class="col-5" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.pagosAplicados) | currency}}</span>
                </div>
                <div class="col-7">
                    <label class="app-label">Pendiente por liquidar a contrato: </label>
                </div>
                <div class="col-5" style="text-align: end;">
                    <span class="value">{{getValueCero(contrato.saldoPendienteContrato) | currency}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Eliminar estimación - pago" [(visible)]="delete" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
    <p class="m-0">
        ¿Esta seguro que desea eliminar el registro: <strong>{{consecutivo}}</strong>?, si lo elimina se afectaran los valores del contrato.
    </p>
    <div class="pb-4"></div>
    <div class="flex flex-wrap justify-content-end gap-2">
        <p-button label="Cancelar" styleClass="p-button-secondary" (click)="delete = false"></p-button>
        <p-button label="Si, continuar" styleClass="p-button-warning" (click)="onDelete()"></p-button>
    </div>
</p-dialog>