.badge {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-weight: 400;
  width: max-content;
}

.success {
  color: #004225;
  background: #bfffdf;
}

.danger {
  color: #61000b;
  background: #ffb8be;
}
