<div style="position: absolute; top: 7px; right: 20px;" class="flex">
    <p-button label="Exportar Excel" styleClass="p-button-warning" (click)="export()" icon="pi pi-file-excel"></p-button>
    <span class="pl-2"></span>
    <p-button icon="pi pi-upload" label="Importar" styleClass="p-button-warning" (click)="import = true"></p-button>
</div>
<div class="web-form">
    <div class="app-frorm">
        <div class="grid">
            <div class="col-12">
                <label class="required">Número de contrato</label>
                <div class="pb-2"></div>
                <p-autoComplete [(ngModel)]="contrato" [style]="{'width':'100%'}" [suggestions]="contracts" 
                    (completeMethod)="loadData($event)" field="folio"
                    placeholder="Digite el folio o número de contraro"
                    (onSelect)="getConsecutive()">
                    <ng-template let-contrat pTemplate="item">
                        <div class="grid">
                            <div class="col-12" style="padding: 0px;">
                                <strong>{{contrat.folio}}</strong>
                            </div>
                            <div class="col-12 app-filter" style="padding: 0px;">
                                {{contrat.proyecto}} - {{contrat.especialidad}} - {{contrat.proveedor}}
                            </div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="col-12" *ngIf="contrato.folio">
                <div class="grid">
                    <div class="col-6">
                        <label>Proyecto: </label>
                        <span class="pr-2"></span>
                        <span class="app-description">{{contrato.proyecto}}</span>
                    </div>
                    <div class="col-6">
                        <label>Especialidad: </label>
                        <span class="pr-2"></span>
                        <span class="app-description">{{contrato.especialidad}}</span>
                    </div>
                    <div class="col-6">
                        <label>Proveedor: </label>
                        <span class="pr-2"></span>
                        <span class="app-description">{{contrato.proveedor}}</span>
                    </div>
                    <div class="col-6">
                        <label>Monto contratado: </label>
                        <span class="pr-2"></span>
                        <span class="app-description">{{contrato.importeContratado | currency}}</span>
                    </div>
                    <div class="col-12 app-filter" *ngIf="liquidado">
                        <span class="pi pi-info-circle"></span>
                        El contrato se encuentra liquidado, no se pueden realizar acciones;
                        <a routerLink="{{ '/web-contrato-estado-cuenta/' + contrato.id}}" class="app-link">
                            Ver estado de cuenta
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label class="required">Tipo de registro</label>
                <div class="pb-2"></div>
                <p-dropdown [options]="tipoRegistros" [(ngModel)]="estimacion.concepto" optionLabel="name" 
                optionValue="code"
                placeholder="Selecione una opción"
                (onChange)="getConsecutive()"
                [disabled]="liquidado"></p-dropdown>
            </div>
            <div class="col-6">
                <label class="required">Número de {{estimacion.concepto?.toLowerCase()}}</label>
                <div class="pb-2"></div>
                <p-dropdown [options]="abonos" [(ngModel)]="estimacion.numeroAbono" optionLabel="name" 
                optionValue="code"
                placeholder="Selecione una opción"
                [disabled]="liquidado">
                <ng-template let-item pTemplate="item">
                    <div class="grid">
                        <div class="col-12" style="padding: 0px;">
                            <strong>{{item.code}}</strong>
                        </div>
                        <div class="col-12 app-filter" style="padding: 0px;" *ngIf="item.monto">
                            <strong>Monto:</strong> {{item.monto | currency}} <br>
                            <strong>Abonos:</strong> {{item.abonos | currency}}
                        </div>
                    </div>
                </ng-template>
                </p-dropdown>
            </div>
            <div class="col-6">
                <label class="required">Fecha de operación</label>
                <div class="pb-2"></div>
                <p-calendar [(ngModel)]="estimacion.fechaOperacion" dateFormat="dd/mm/yy" [showIcon]="true" [required]="true" [disabled]="liquidado"></p-calendar>
            </div>
            <div class="col-4">
                <label class="required">Importe {{estimacion.concepto?.toLowerCase()}}</label>
                <div class="pb-2"></div>
                <p-inputNumber [(ngModel)]="estimacion.importe" inputId="currency-us" mode="currency" currency="USD" locale="en-US" [required]="true" [min]="0" [disabled]="liquidado"></p-inputNumber>
            </div>
            <div class="col-2" *ngIf="estimacion.importeAbono">
                <label>Abonado</label>
                <div class="pb-2"></div>
                <span>{{estimacion.importeAbono | currency}}</span>
            </div>
            <div class="col-12">
                <label>Hipervínculo</label>
                <div class="pb-2"></div>
                <input type="text" pInputText [(ngModel)]="estimacion.hipervinculo" maxlength="1000">
            </div>
            <div class="col-12">
                <label>Observaciones {{estimacion.concepto?.toLowerCase()}}</label>
                <div class="pb-2"></div>
                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="estimacion.observaciones" maxlength="255" style="width: 100%; max-width: 100%;" [disabled]="liquidado"></textarea>
            </div>
        </div>
        <div class="pb-4"></div>
        <div class="flex flex-wrap justify-content-end gap-2" *ngIf="!liquidado">
            <p-button label="Cancelar" styleClass="p-button-secondary" (click)="cancel()"></p-button>
            <p-button icon="pi pi-save" label="Guardar" styleClass="p-button-warning" (click)="save()"></p-button>
        </div>
    </div>
</div>

<p-dialog header="Confirmación" [(visible)]="confirm" [modal]="true" [style]="{ width: '40vw' }" [draggable]="false" [resizable]="false">
    <p class="m-0">
        Esta transacción se cargará al contrato: <strong>{{contrato.folio}}</strong>
        <br>
        ¿Está seguro que desea continuar?
    </p>
    <div class="pb-4"></div>
    <div class="flex flex-wrap justify-content-end gap-2">
        <p-button label="Cancelar" styleClass="p-button-secondary" (click)="confirm = false"></p-button>
        <p-button label="Si, continuar" styleClass="p-button-warning" (click)="confirmSave()"></p-button>
    </div>
</p-dialog>

<p-dialog header="Alerta" [(visible)]="confirmAbono" [modal]="true" [style]="{ width: '40vw' }" [draggable]="false" [resizable]="false">
    <p class="m-0">
        El valor del importe supera el valor pendiente de la estimación: <strong>{{estimacion.numeroAbono}}</strong>
        <br>
        Por favor verifique la información
    </p>
    <div class="pb-4"></div>
</p-dialog>

<p-dialog header="Importar" [(visible)]="import" [modal]="true" [style]="{ width: '520px' }" [draggable]="false" [resizable]="false">
    <div class="pb-4"></div>
    <div class="flex flex-wrap gap-3">
        <p-fileUpload chooseLabel="Seleccionar.." 
            uploadLabel="Cargar" cancelLabel="Cancelar" name="myfile[]" [multiple]="false" accept=".txt" [maxFileSize]="1000000"
            url="https://www.primefaces.org/cdn/api/upload.php"
            (onUpload)="onUpload($event)" 
            uploadStyleClass="p-button-warning"
            cancelStyleClass="p-button-warning"
            chooseStyleClass="p-button-warning">
            <ng-template pTemplate="toolbar">
                <div class="py-3">Selecciona el archivo para comenzar con la carga</div>
            </ng-template>
            <ng-template let-file pTemplate="file">
                <div>{{file.name +  ' - ' +  file.size + ' bytes'}}</div>
            </ng-template>
        </p-fileUpload>
    </div>
</p-dialog>

<p-dialog header="Confirmar" [(visible)]="confirmUp" [modal]="true" [style]="{ width: '25vw' }" [draggable]="false" [resizable]="false">
    <p class="m-0">
        Este proceso afectara directamente la información ya registrada, ¿Esta seguro que desea continuar?
    </p>
    <div class="pb-4"></div>
    <div class="flex flex-wrap justify-content-end gap-2">
        <p-button label="Cancelar" styleClass="p-button-secondary" (click)="confirmUp = false"></p-button>
        <p-button label="Si, continuar" styleClass="p-button-warning" (click)="confirmUpload()"></p-button>
    </div>
</p-dialog>