<div class="card" style="flex-direction: row;">
    <p-panelMenu [model]="menu" [style]="{'width':'300px'}" [multiple]="true"></p-panelMenu>
    <p style="margin-left: 8px;"></p>
    <p-table [value]="contracts" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Proyecto</th>
                <th>Contrato</th>
                <th>Especialidad</th>
                <th>Proveedor</th>
                <th>Monto</th>
                <th>Anticipo</th>
                <th>Abonos</th>
                <th>Saldo</th>
                <th>CC</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contract>
            <tr>
                <td>{{ contract.project }}</td>
                <td>{{ contract.contract }}</td>
                <td>{{ contract.specialty }}</td>
                <td>{{ contract.supplier }}</td>
                <td>{{ contract.mount }}</td>
                <td>{{ contract.advance }}</td>
                <td>{{ contract.deposit }}</td>
                <td>{{ contract.balance }}</td>
                <td>{{ contract.cc }}</td>
            </tr>
        </ng-template>
    </p-table>
    
</div>